{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Action</th>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
          <th scope="col">Transacted</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in transactions %}
        <tr>
          {% if stock.shares > 0 %}
          <td>Bought</td>
          {% else %}
          <td>Sold</td>
          {% endif %}
          <td>{{stock.symbol}}</td>
          <td>{{stock.name}}</td>
          <td>{{stock.shares}}</td>
          <td>{{stock.price | usd}}</td>
          <td>{{(stock.shares * stock.price) | abs | usd}}</td>
          <td>{{stock.datetime_str}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
