{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Shares</th>
          <th scope="col">Current Price</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in portfolio %}
        <tr>
          <td>{{stock.symbol}}</td>
          <td>{{stock.name}}</td>
          <td>{{stock.shares}}</td>
          <td>{{stock.current_price | usd}}</td>
          <td>{{(stock.shares * stock.current_price) | usd}}</td>
        </tr>
        {% endfor %}
        <tr>
          <td>CASH</td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{cash | usd}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <th>{{total | usd}}</th>
        </tr>
      </tbody>
    </table>
{% endblock %}
