{% extends "layout.html" %}

{% block title %}
    My Blog
{% endblock %}

{% block main %}

    <!-- post page html -->
    <div class="vstack gap-5 container-sm">
        {% for post in posts %}
            {% set post_loop = loop %}
            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <div class="text-center mb-3">
                    <h4 class="text-break">{{ post.title }}</h4>
                    <p class="text-break">{{ post.address }}</p>
                </div>
                <div class="input-group mb-3" id="tags_display{{ post_loop.index }}">
                  <h5 class="text-center w-100"></h5>
                </div>
                <script>

                    function displayTags() {
                      let tags = "{{ post.tags }}";
                      let tagsArray = tags.toLowerCase().split(" ").join("").split("#");
                      tagsArray = tagsArray.filter(n => n);
                      document.querySelector("#tags_display{{ post_loop.index }}").querySelector("h5").innerHTML = '';
                      for (let i = 0; i < tagsArray.length; i++) {
                        document.querySelector("#tags_display{{ post_loop.index }}").querySelector("h5").innerHTML += `<span class="badge bg-secondary m-1">#${tagsArray[i]}</span>`;
                      }
                    }

                    displayTags();

                </script>

                <div class="row mb-3">
                    <div class="col-md-auto">........................................</div>
                    <div class="col">
                        <div id="carouselExampleIndicators{{ post_loop.index }}" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                        {% set filenames_string = post.photo_id %}
                        {% set filenames_string = filenames_string[2:] %}
                        {% set filenames_string = filenames_string[:-2] %}
                        {% set filenames = filenames_string.split("', '") %}
                          <div class="carousel-indicators">
                            {% for filename in filenames %}
                                {% if loop.index == 1 %}
                                    <button type="button" data-bs-target="#carouselExampleIndicators{{ post_loop.index }}" data-bs-slide-to="{{ loop.index - 1 }}" class="active" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
                                {% else %}
                                    <button type="button" data-bs-target="#carouselExampleIndicators{{ post_loop.index }}" data-bs-slide-to="{{ loop.index - 1 }}" aria-label="Slide {{ loop.index }}"></button>
                                {% endif %}
                            {% endfor %}
                          </div>
                          <div class="carousel-inner">
                            {% for filename in filenames %}
                                {% set photo_url = photo_url + "/" + filename %}
                                {% if loop.index == 1 %}
                                    <div class="carousel-item active">
                                      <img src="{{ photo_url }}" class="d-block w-100 img" alt="...">
                                    </div>
                                {% else %}
                                    <div class="carousel-item">
                                      <img src="{{ photo_url }}" class="d-block w-100" alt="...">
                                    </div>
                                {% endif %}
                            {% endfor %}
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{ post_loop.index }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{ post_loop.index }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                    </div>
                    <div class="col-md-auto">........................................</div>
                </div>

                <p class="text-center mb-3">
                    <button type="button" class="btn btn-outline-secondary btn-sm w-25" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        ...
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body text-start mb-3">
                        <pre class="fs-6">{{ post.review }}</pre>
                    </div>
                    <!-- https://developers.google.com/maps/documentation/embed/embedding-map -->
                    <iframe
                      class="mb-3"
                      width= 100%
                      height="400"
                      frameborder="0" style="border:0"
                      id="test"
                      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBOx_2L96lGaLHkfZc9FE2jzltMoLpqOdI&q={{ post.address }}&center=1.3521,103.8198&zoom=11" allowfullscreen>
                    </iframe>
                </div>
                <p class="text-end mb-3"><em><small>Posted on {{ post.date_time }}</small></em></p>
            </div>
        {% endfor %}
    </div>


{% endblock %}