{% extends "layout.html" %}

{% block title %}
    Post
{% endblock %}

{% block main %}

  <form action="/publish" method="POST" enctype="multipart/form-data" accept="image/*">

    <div class="form-floating mb-3">
      <input type="text" autocomplete="off" class="form-control" id="floatingInput" placeholder="Blog Title" name="title" value="{{title}}">
      <label for="floatingInput">Blog Title / Stall Name</label>
    </div>

    <div class="mb-3">
      <label for="formFileMultiple" class="form-label">Select Photos (Maximum total file size of 16GB)</label>
      <input class="form-control" type="file" id="formFileMultiple" name="photos" multiple>
    </div>

    <div class="form-floating mb-3" id="tags">
      <input type="text" class="form-control" autocomplete="off" id="floatingInput" placeholder="#Tag cuisine type" name="tags" value="{{tags}}">
      <label for="floatingInput">#Tag cuisine type</label>
    </div>

    <div class="input-group mb-3" id="tags_display">
      <h5></h5>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" autocomplete="off" id="floatingInput" placeholder="Address" name="address" value="{{address}}">
      <label for="floatingInput">Address: Block number, Street address, Unit number, Postal code</label>
    </div>

    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="review">{{review}}</textarea>
      <label for="floatingTextarea2">Review</label>
    </div>

    <button type="submit" class="btn btn-secondary">Publish</button>
  </form>

  <script>

    function displayTags() {
      let tagsArray = document.querySelector("#tags").querySelector("input").value.toLowerCase().split(" ").join("").split("#");
      tagsArray = tagsArray.filter(n => n);
      document.querySelector("#tags_display").querySelector("h5").innerHTML = '';
      for (let i = 0; i < tagsArray.length; i++) {
        document.querySelector("#tags_display").querySelector("h5").innerHTML += `<span class="badge bg-secondary m-1">#${tagsArray[i]}</span>`;
      }
    }

    document.addEventListener("DOMContentLoaded", function() {
      displayTags();
      document.querySelector("#tags").querySelector("input").addEventListener("keyup", displayTags);
    });

  </script>


{% endblock %}