nav .navbar-brand
{
    /* size for brand */
    font-size: large;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

pre
{
    white-space: pre-wrap;
    word-break: keep-all;
    font-family: Arial, Helvetica, sans-serif;
}